<div class="container-fluid">

  <div class="container-fluid">
    <hr>

    <div class="col-md-12">
      <ol class="breadcrumb">
	<li><a href="{{backToLeagues}}">Back</a></li>
	<li ng-repeat="crumb in breadcrumb">
	  <a href="{{crumb.href}}">{{crumb.key}}</a>
	</li>
      </ol>
    </div>
  </div>

  <div class="container">
    <div>
      <div ng-if="isList">
	<div ng-repeat="item in listKeys">

	  <div ng-repeat="video in data[item]" class="col-xs-3">

	    <a class="thumbnail" href="{{video.url}}">
	      <img ng-attr-src="{{video.preview}}" class="img-rounded" height="320" width="240">
	      <label>{{video.title}}</label>
	    </a>

	  </div>

	</div>
      </div>

      <div ng-if="isDir">
	<div ng-repeat="item in listKeys" class="col-md-4">

	  <a class="thumbnail" href="{{basePath + '/' + item}}">
	    <h5>{{item}}</h5>
	  </a>

	</div>
      </div>
      
    </div>
  </div>
</div>

